
<script type="text/html" id='booking_modal'>
    <button class="close-modal">x</button>
    <div class="row">
        <div class="col col-md-7">
            <div class="book-media-container">
                <div class="video-container">
                    <video controls id="video" class="trip-video" width="100%" height="auto">
                        <source src="videos/tokyo.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="trip-info">
                    <h4>Trip details</h4>

                    <p>Trip with id <%= tripID %></p>
                    <p>
                        Bla bla bla bla bla bla nope I like potatoes hatters gonna hate bla bla bla.
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-md-5">
            <div class="book-details-container">
                <h3>Book this trip</h3>
                <form id="book_trip_form">
                    <label class="form-group">
                        <span class="mandatory">Name</span>
                        <input id="bookName" class="form-control" name="name" type="text" required />
                    </label>
                    <label class="form-group">
                        <span class="mandatory">Email</span>
                        <input class="form-control" name="email" type="email" required />
                    </label>
                    <label class="form-group">
                        <span class="mandatory">Phone</span>
                        <input class="form-control" name="phone" type="number" required />
                    </label>
                    <label class="form-group">
                        <span class="mandatory">Start date</span>
                        <input class="form-control" name="date" type="text" required />
                    </label>
                    <label class="form-group">
                        <span class="mandatory">Number of people</span>
                        <input class="form-control" name="number" type="number" value="1" />
                    </label>

                    <input type="checkbox" id="agreeTerms" name="terms">
                    <label for="agreeTerms" class="mandatory">I agree with the terms and conditions.</label>

                    <div class="form-group">
                        <input class="btn btn-default" type="submit" value="Book now!" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>