
<script type="text/html" id='booking_modal'>
    <button class="close-modal">x</button>
    <div class="row">
        <div class="col col-md-7">
            <div class="book-media-container">
                <div class="video-container">
                    <video controls id="video" class="trip-video" width="100%" height="auto">
                        <source src="videos/tokyo.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="trip-info">
                    <h4>Trip details</h4>

                    <p>Trip with id <%= tripID %></p>
                    <p>
                        Bla bla bla bla bla bla nope I like potatoes hatters gonna hate bla bla bla.
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-md-5">
            <div class="book-details-container">

            </div>
        </div>
    </div>
</script>