/* Container */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center !important;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col {
        padding: 0 15px;
    }

    .row > .col-md-6 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 991px) {
    .navbar-toggler {
        display: block;
    }
}

