
body {
    color: #ffffff;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    background: #282828;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #ffffff;
}

:focus {
    outline: none;
}

section {
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a[ id= "tours" ]:target ~ #main panel {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "galeria" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "contacto" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}


/* Navbar */
.navbar {
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}

.logo-image {
    padding: 10px 0;
    height: 60px
}

.navbar-toggler {
    display: none;
}

li.nav-item .navbar-nav--child {
    display: none;
}

li.nav-item:hover .navbar-nav--child {
    display: block;
    position: absolute;
    padding-left: 15px;
}

li.nav-item--child {
    display: grid;
    white-space: nowrap;
    background-color: rgba(76, 175, 80, 0.8);
    top: 58px;
}

/* Menu */
li.nav-item {
    display: table-cell;
    position: relative;
}

.navbar-collapse {
    float: right;
    margin-top: 15px;
}

.nav-link {
    color: #fff;
    padding: 7px 14px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

.nav-link.active, .nav-link:hover, .nav-link:focus {
    color: #8ac53f !important;
}

a.nav-link.btn-default {
    padding: 10px 15px;
}

.form-error, .invalid-data {
    color: #b41111;
    padding: 0 30px;
}

/* Home */
#home {
    position: relative;
    height: 700px;
    background-size: cover;
    background: url("/images/header.jpg") center center;
}

.hero-text {
    padding-top: 250px;
}

.hero-text h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.hero-text p {
    color: #fff;
    margin-bottom: 25px;
}

.btn-default {
    background: #4caf50 none repeat scroll 0 0;
    border: 2px solid #4caf50;
    color: #fff;
    font-size: 12px;
    padding: 15px 35px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.btn-default:hover {
    background: none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #fff;
    outline: 0;
}

/* Other sections - generals */
.section-title h2 {
    color: #f1f1f1;
    font-size: 45px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
}

.thumb {
    position: relative;
    overflow: hidden;
    height: 350px;
    margin: 15px;
    display: inline-block;
    width: 47%;
}

.thumb__overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    text-align: center;
    transition: .3s;
}

.thumb__overlay:after {
    content: '';
    position: absolute;
    top: 2%;
    left: 3%;
    right: 3%;
    bottom: 3%;
}

.thumb__title {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 1;
    transform: translateY(-50%);
}

.thumb__title h3 {
    font-size: 36px;
    line-height: 48px;
    margin: 15px auto;
    position: relative;
}

.thumb__title h6 {
    color: #8ac53f;
    font-weight: 700;
    font-size: 18px;
    margin: 15px auto;
}

.thumb > img {
    width: 100%;
    min-height: 100%;
    background-size: cover;
}

.thumb__title h3, .thumb__title p {
    color: #fff;
    font-weight: 700;
}

.thumb__title p + a {
    margin-top: 15px;
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

.thumb__title h3:after, .thumb__title h3:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 301px;
    height: 1px;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
}

.thumb__title h3:before {
    top: 0;
}

.thumb__title h3:after {
    bottom: 0;
}

/* Tours */
section#tours, section#services, section#all_trips, section#contact, section#statistics
{
    padding-top: 60px;
}


/* Book trip modal */

.trip-modal {
    position: fixed;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.8);
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 160px);
    padding: 30px;
    overflow-y: auto;
}

@media (max-width: 991px) {
    .thumb {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .trip-modal {
        width: 90%;
    }
}

button.close-modal {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-top: -10px;
    cursor: pointer;
    font-weight: 700;
    z-index: 3;
}

button.close-modal:hover {
    color: #4caf50;
}

.book-details-container,
.book-media-container {
    padding: 30px;
}

.book-media-container > img {
    max-width: 100%;
}

.video-container {
    position: relative;
}

.book_now h4 {
    border-bottom: 1px solid #eee;
    font-weight: 400;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.trip-info h4 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 1rem;
}

.book-form-container .row {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background: #fff none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-control.disabled {
    background-color: #cccccc;
}

.book_now input {
    background: #fff none repeat scroll 0 0;
    border-color: currentcolor currentcolor #eee;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    color: #333;
    height: 45px;
    padding: 10px;
}

/* Rating start */
.rate-container > span, .rate-container h3 {
    float: left;
    line-height: 0;
    margin-right: 15px;
}

form .stars {
    background: url("/images/stars.png") repeat-x 0 0;
    width: 150px;
}

form .stars input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

form .stars input[type="radio"].star-5:checked ~ span { width: 100%; }

form .stars input[type="radio"].star-4:checked ~ span { width: 80%; }

form .stars input[type="radio"].star-3:checked ~ span { width: 60%; }

form .stars input[type="radio"].star-2:checked ~ span { width: 40%; }

form .stars input[type="radio"].star-1:checked ~ span { width: 20%; }

form .stars label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0!important;
    padding: 0!important;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent!important;
}

form .stars.enabled label {
    cursor: pointer;
}

form .stars.enabled label:hover ~ span { background-position: 0 -30px; }

form .stars.enabled label.star-5:hover ~ span { width: 100% !important; }

form .stars.enabled label.star-4:hover ~ span { width: 80% !important; }

form .stars.enabled label.star-3:hover ~ span { width: 60% !important; }

form .stars.enabled label.star-2:hover ~ span { width: 40% !important; }

form .stars.enabled label.star-1:hover ~ span { width: 20% !important; }


form .stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("/images/stars.png") repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
}
/* Rating end */

/* Display start rating start */
.show-rating-container {
    float: right;
    line-height: 32px;
}

.star-rating-container {
    display: block;
    text-decoration: none!important;
}

.star-rating {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
    height: 32px;
    font-size: 26px;
    color: #ccc;
    letter-spacing: 2px;
}

.star-rating.star-rating-sm {
    height: 30px;
    font-size: 30px;
}

.star-rating:before {
    position: relative;
    content: "\2605\2605\2605\2605\2605";
    display: inline-block;
}

.star-rating .star-rating-inner {
    white-space: nowrap;
    position: absolute;
    line-height: inherit;
    height: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.star-rating-read .star-rating-inner:before {
    position: relative;
    content: "\2605\2605\2605\2605\2605";
    color: #f9bf3b;
}

.star-rating-text {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    font-size: 14px;
}

span.rate-trip {
    float: left;
    font-size: 20px;
}

.btn.btn-rate {
    cursor: pointer;
    line-height: 24px;
    font-size: 15px;
}

.btn.disabled {
    background-color: #999;
    border-color: #999;
    cursor: default;
}

.btn.btn-rate:hover {
    color: #4caf50;
}

.btn-rate.disabled:hover {
    color: inherit;
}

/* Display start rating end */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.modal {
    z-index: 3;
}

.hidden {
    display: none;
}

.trip-modal {
    display: none;
}

.trip-modal.show {
    display: block;
}

/* Book trip modal */
.book-details-container input {
    margin-bottom: 1rem;
}

.mandatory:after {
    content: '*';
}

/* Chat */
.toggle-chat {
    background-color: #91908f;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.toggle-chat i {
    margin-top: 6px;
    color: #eee;
}

.toggle-chat.active {
    background: #4caf50;
}

.toggle-chat i:hover {
    margin-top: 6px;
    color: #d30000;
}

.toggle-chat:hover, .toggle-chat:active, .toggle-chat:focus {
    background-color: #4caf50;
}

.all-chats-container {
    position: fixed;
    bottom: -402px;
    right: 0;
}

.chat-box {
    position: relative;
    margin: 0 10px;
    display: table-cell;
    float: right;
    width: 340px;
    height: 440px;
    bottom: 402px;
}

.chat-box.hidden {
    bottom: 0;
}

.chat-box > div {
    padding: 5px 20px;
}

.chat-widget {
    width: 300px;
    height: 400px;
    background-color: #efefef;
}

.single-message {
    width: 100%;
    display: inline-table;
}

.single-message:first-of-type {
    margin-top: 10px;
}

.single-message > span {
    background-color: #bababa;
    padding: 5px 15px;
    border-radius: 20px;
    display: table;
    max-width: 230px;
    line-height: 1.2em;
    font-size: 15px;
}

.single-message.left {
    margin-bottom: 10px;
}

.conversation-content {
    max-height: 320px;
    overflow-y: auto;
    margin: 0 -20px;
    display: flex;
    flex-direction: column-reverse;
}

.chat-messages-list {
    padding: 0 15px;
}

.single-message.right > span {
    text-align: right;
    width: auto;
    float: right;
    background-color: #4caf50;
}

.input-container {
    position: absolute;
    bottom: 0;
    width: 285px;
    left: 0;
    padding: 10px 13px;
}

.input-container textarea {
    resize: none;
    padding: 15px;
    width: 100%;
    height: 1.5em;
}

/* All chats widget style */
.single-chat {
    height: 50px;
    color: #333;
    border-bottom: 1px solid rgba(145, 144, 143, 0.5);
    display: table;
    vertical-align: middle;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.single-chat:hover {
    background-color: rgba(204, 204, 204, 0.77);
}

.single-chat-name {
    margin: 10px;
    border-radius: 30px;
    display: table-cell;
    padding: 10px 20px 10px 40px;
}

.single-chat:before {
    content: "\f2bd";
    font-family: Font Awesome\ 5 Free, serif;
    font-size: 25px;
    position: absolute;
    display: table-cell;
    top: 10px;
    color: #4caf50;
}

.circle-label {
    background-color: #4caf50;
    padding: 4px 7px;
    margin-left: 5px;
    border-radius: 30px;
    color: #fff;
    font-size: 11px;
}

.timestamp {
    font-size: 14px;
}

.timestamp.active {
    color: #4caf50;
}

#add_trip_modal_container {
    padding: 30px;
    height: auto;
    top: 100px;
    max-height: 85%;
}

#add_trip_modal_container .form-control {
    max-width: 80%;
    margin-bottom: 15px;
}

#add_trip_modal_container .upload-field {
    margin-top: 30px;
}

/* Upload buttons */
.upload-btn-wrapper {
    position: relative;
}

input.file {
    height: 20px;
    border: 1px solid #BBB;
    border-right: 0;
    color: #888;
    padding: 8px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    outline: none;
}

div.file_upload {
    width: 80px;
    height: 30px;
    background: #4caf50;
    display: inline;
    position: absolute;
    top: 0;
    overflow: hidden;
    cursor: pointer;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding-top: 8px;
}

div.file_upload:before {
    content: 'Upload';
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
}

div.file_upload input {
    cursor: pointer;
    height: 0;
    width: 0;
}

.date-picker-wrapper {
    z-index: 3;
}

.currency::-webkit-inner-spin-button,
.currency::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currency-input-container {
    position: relative;
}

.currency-input-container:after {
    content: '$';
    position: absolute;
    top: 5px;
    font-weight: 600;
    font-size: 18px;
    right: 18%;
    color: #999;
}

#mouseStatistics {
    position: absolute;
    top: 0;
    z-index: 3;
}

/* Mouse move statistics */
.mouse-coordinates {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    opacity: 0.7;
}


/* Rating */
.rating-holder {
    float: right;
    margin-right: 50px;
}

.rating-holder .rating {
    color: #ddd;
    margin: 0 auto;
}

.fa-star:before {
    content: "\f005";
}

.rating span.fa {
    cursor: pointer;
    font-size: 13px;
    padding: 0 1px;
}

.rating span.active {
    color: #e9c8a0;
}

#map_add {
    height: 300px;
}

span.link-statistic {
    font-size: .8em;
    margin-top: -6px;
    margin-left: 5px;
    position: absolute;
    border: 1px solid #b41111;
    height: 14px;
    width: 14px;
    padding: 0 !important;
    border-radius: 50%;
    text-align: center;
    display: inline-table;
}
