
<nav class="navbar site-navigation">
    <div class="container">
        <a class="navbar-brand" href="#"><img class="logo-image" src="/images/logo4.png" alt=""></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#mostpopulartrips">Tours</a>
                    <ul class="navbar-nav--child">
                        <li class="nav-item--child"><a class="nav-link" href="#mostpopulartrips">Most Popular</a></li>
                        <li class="nav-item--child"><a class="nav-link" href="#bestoffers">Best Offers</a></li>
                        <li class="nav-item--child"><a class="nav-link" href="#gallery">Gallery</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>

                <?= isset($_SESSION['user']) ? '<li class="nav-item"><a id="logout_button" class="nav-link btn-default logout">Logout</a></li>' : '<li class="nav-item"><a id="login_button" class="nav-link btn-default login">Login</a></li>' ?>
            </ul>
        </div>
    </div>
</nav>

<div class="backdrop"></div>

<section id="home">
    <div class="container">
        <div class="row">
            <div class="col col-md-12 text-center">
                <div class="hero-text">
                    <button id="test" class="btn btn-default">TEST</button>
                    <h1>Ahoy, <?= isset($_SESSION['user']) ? $_SESSION['user']['name'] : 'Stranger!' ?></h1>
                    <p>Discover the places you've never been before!</p>
                    <a href="#mostpopulartrips" class="btn btn-default">Find tour</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mostpopulartrips">
    <div class="container">
        <div class="section-title">
            <h2>Most Popular Trips</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 fadeInLeft">
                <div class="thumb">
                    <img src="/images/tour1.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default book-trip" data-tripid="1" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>

                <div class="thumb">
                    <img src="/images/tour2.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default book-trip" data-tripid="2" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 fadeInRight">
                <div class="thumb">
                    <img src="/images/tour4.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default book-trip"  data-tripid="3" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
                <div class="thumb">
                    <img src="/images/tour5.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bestoffers">
    <div class="container">
        <div class="section-title">
            <h2>Best Offers</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="thumb">
                    <img src="/images/tour3.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="thumb">
                    <img src="/images/tour6.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery"></section>
<section id="services"></section>
<section id="about"></section>
<section id="contact"></section>

<div id="booking_modal_container" class="container modal trip-modal"></div>

<?php if(isset($_SESSION['user'])) { ?>
    <div class="chat-container container">
        <div class="chat-box">
            <div class="chat-header <?= $_SESSION['user']['is_admin'] ? 'admin' : 'user' ?>">Chat</div>
            <div id="conversation_container" class="chat-widget hidden">
                <div id="conversation_content"></div>
                <div class="input-container">
                    <textarea class="message-input" placeholder="Ask us a question..."></textarea>
                </div>
            </div>
        </div>
    </div>
<?php } ?>
