<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travelling Potato</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/commons.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

<nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded site-navigation">
    <div class="container">
        <a class="navbar-brand" href="#"><img class="logo-image" src="/images/logo4.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon-menu"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#mostpopulartrips">Tours</a>
                    <ul class="navbar-nav--child">
                        <li class="nav-item--child"><a class="nav-link" href="#mostpopulartrips">Most Popular</a></li>
                        <li class="nav-item--child"><a class="nav-link" href="#bestoffers">Best Offers</a></li>
                        <li class="nav-item--child"><a class="nav-link" href="#gallery">Gallery</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link btn-default" href="#login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<section id="home">
    <div class="container">
        <div class="row">
            <div class="col col-md-12 text-center">
                <div class="hero-text">
                    <h1><span class="rotate" style="text-shadow: black 0px 0px 0px; opacity: 1;">Ahoy, awesome Potato!</span></h1>
                    <p>Discover the places you've never been before!</p>
                    <a href="#mostpopulartrips" class="btn btn-default btn-home-bg">Find tour</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mostpopulartrips">
    <div class="container">
        <div class="section-title">
            <h2>Most Popular Trips</h2>
        </div>
        <div class="row">
            <div class="col-md-6 fadeInLeft">
                <div class="thumb">
                    <img src="/images/tour1.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default btn-mazin-1 book-trip" data-tripid="1" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>

                <div class="thumb">
                    <img src="/images/tour2.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default btn-mazin-1" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 fadeInRight">
                <div class="thumb">
                    <img src="/images/tour4.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default btn-mazin-1" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
                <div class="thumb">
                    <img src="/images/tour5.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default btn-mazin-1" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bestoffers">
    <div class="container">
        <div class="section-title">
            <h2>Best Offers</h2>
        </div>
        <div class="row">
            <div class="col-md-6 fadeInLeft">
                <div class="thumb">
                    <img src="/images/tour3.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default btn-mazin-1" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 fadeInRight">
                <div class="thumb">
                    <img src="/images/tour6.jpg" alt="Image 2">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3>Hiking in the<br>Altai</h3>
                        <h6>Culinary adventure</h6>
                        <p>10 days, 9 nights<br>From $590</p>
                        <a class="btn btn-default btn-mazin-1" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery"></section>
<section id="services"></section>
<section id="about"></section>
<section id="contact"></section>


<div id="booking_modal_container"></div>

<script type="application/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
<script type="application/javascript" src="/node_modules/underscore/underscore-min.js"></script>
<script type="application/javascript" src="/js/video.js"></script>
<script type="application/javascript" src="/js/scripts.js"></script>

</body>
</html>