
<nav class="navbar site-navigation">
    <div class="container">
        <a class="navbar-brand" href="#"><img class="logo-image" src="/images/logo4.png" alt=""></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#mostpopulartrips">Tours</a>
                    <ul class="navbar-nav--child">
                        <li class="nav-item--child"><a class="nav-link" href="#mostpopulartrips">Most Popular</a></li>
                        <li class="nav-item--child"><a class="nav-link" href="#bestoffers">Best Offers</a></li>
                        <li class="nav-item--child"><a class="nav-link" href="#all_trips">All Trips</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>

                <?= isset($_SESSION['user']) ? '<li class="nav-item"><a id="logout_button" class="nav-link btn-default logout">Logout</a></li>' : '<li class="nav-item"><a id="login_button" class="nav-link btn-default login">Login</a></li>' ?>
            </ul>
        </div>
    </div>
</nav>

<div class="backdrop"></div>

<section id="home">
    <div class="container">
        <div class="row">
            <div class="col col-md-12 text-center">
                <div class="hero-text">
                    <h1>Ahoy, <?= isset($_SESSION['user']) ? $_SESSION['user']['name'] : 'Stranger!' ?></h1>
                    <p>Discover the places you've never been before!</p>
                    <div class="main-buttons-container">
                        <a href="#mostpopulartrips" class="btn btn-default">Find tour</a>
                        <?php if (isset($_SESSION['user']) && $_SESSION['user']['is_admin']) { ?>
                            <button id="add_trip" class="btn btn-default">Add trip</button>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mostpopulartrips">
    <div class="container">
        <div class="section-title">
            <h2>Most Popular Trips</h2>
        </div>
        <div id="populars_container" class="row trips-widgets-container">
            <?php foreach($popularTrips as $trip) {?>
                <div class="thumb" data-id="<?= $trip->id ?>">
                    <img src="<?= $trip->poster ?>" alt="Trip poster">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3><?= $trip->title ?></h3>
                        <h6><?= $trip->short_description ?></h6>
                        <p><?= $trip->nights_no ?> nights<br>From $<?= $trip->price ?></p>
                        <a class="btn btn-default book-trip" data-tripid="<?= $trip->id ?>" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>

<section id="bestoffers">
    <div class="container">
        <div class="section-title">
            <h2>Best Offers</h2>
        </div>
        <div class="row trips-widgets-container">
            <?php foreach($bestOffers as $trip) {?>
                <div class="thumb" data-id="<?= $trip->id ?>">
                    <img src="<?= $trip->poster ?>" alt="Trip poster">
                    <div class="thumb__overlay"></div>
                    <div class="thumb__title">
                        <h3><?= $trip->title ?></h3>
                        <h6><?= $trip->short_description ?></h6>
                        <p><?= $trip->nights_no ?> nights<br>From $<?= $trip->price ?></p>
                        <a class="btn btn-default book-trip" data-tripid="<?= $trip->id ?>" href="javascript:void(0)">Book trip</a>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>

<section id="all_trips">
    <div class="container">
        <div class="section-title">
            <h2>All Trips</h2>
        </div>
        <div class="row trips-widgets-container">
            <?php foreach($allTrips as $trip) {?>
            <div class="thumb" data-id="<?= $trip->id ?>">
                <img src="<?= $trip->poster ?>" alt="Trip poster">
                <div class="thumb__overlay"></div>
                <div class="thumb__title">
                    <h3><?= $trip->title ?></h3>
                    <h6><?= $trip->short_description ?></h6>
                    <p><?= $trip->nights_no ?> nights<br>From $<?= $trip->price ?></p>
                    <a class="btn btn-default book-trip" data-tripid="<?= $trip->id ?>" href="javascript:void(0)">Book trip</a>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
</section>

<section id="services"></section>
<section id="about"></section>
<section id="contact"></section>

<div id="booking_modal_container" class="container modal trip-modal"></div>
<div id="add_trip_modal_container" class="container modal trip-modal"></div>

<?php if(isset($_SESSION['user'])) { ?>
    <div class="all-chats-container chat-container container">

        <?php if(!$_SESSION['user']['is_admin']) { ?>
            <div class="chat-box hidden">
                <div class="toggle-chat chat-header <?= $_SESSION['user']['is_admin'] ? 'admin' : 'user' ?>">Chat</div>
                <div id="conversation_container" class="chat-widget">
                    <div id="conversation_content" class="conversation-content"></div>
                    <div class="input-container">
                        <textarea class="message-input" placeholder="Ask us a question..."></textarea>
                    </div>
                </div>
            </div>
        <?php } ?>

        <?php if($_SESSION['user']['is_admin']) { ?>
            <div class="chat-box left-box hidden">
                <div class="toggle-chat chat-header all-chats">All chats</div>
                <div id="chats_container" class="chat-widget">
                    <div id="all_chats_content"></div>
                </div>
            </div>
        <?php } ?>
    </div>
<?php } ?>
